.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}

.head {
  padding: 2rem;
}

.head__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.head__title p {
  color: var(--color-secondary-text);
}

.head__options {
  display: flex;
  justify-content: space-between;
}

.head__options input{
  width: 400px;
}

.head__options__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.head__options__list a{
  color: var(--color-secondary-text);
  font-weight: 400;
  transition: all 0.3s ease;
}

.head__options__list a:hover{
  color: #1F5EEC;
}

.head__options__list .active{
  padding: 0.5rem 1rem;
  color: var(--color-white);
  border-radius: 2rem;
  background-color: #1F5EEC;
}

.head__options__list .active:hover{
  color: #fff;
}

.separator {
  position: relative;
  height: 0.125rem;
  background-color: #ffffff42;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator .subtitle {
  position: absolute;
  margin: 0 auto;
  background-color: #242424;
  padding: 0 1rem;
}


.featured {
  border-radius: 0.3rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.post__big{
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 400px;
}

.image-big-post{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post__big::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00000000 0%, #000000cc 100%);
  top: 0;
  left: 0;
}

.post__big .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 4;
  padding: 2rem;
  color: #fff;
  bottom: 0;
}

.post .details{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem 0;
  color: #ffffff71;
  border-top: solid 2px #ffffff42;
}
.post .content {
  padding: 1rem;
}
.post .content .description{
  color: #ffffff71;
  margin-top: 1rem;
}
.post .details p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post__big .content .title{
  margin: 1rem 0;
}

.post__big a{
  display: block;
  margin: 1rem 0;
}

.post__big .author{
  bottom: 1rem;
  width: fit-content;
  background-color: #fff;
  color: #686868;
  padding: 0.3rem;
  padding-right: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.container__posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}

.post .background{
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.post .image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.post .author{
  position: absolute;
  bottom: 1rem;
  background-color: #fff;
  color: #686868;
  padding: 0.3rem;
  padding-right: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.btnSeePost{
  display: block;
  padding: 0.7rem;
  border-radius: 2rem;
  text-align: center;
  color: #ffffff71;
  border: 2px solid #ffffff71;
  transition: all 0.3s ease;
}
.btnSeePost:hover{
  background-color: #1F5EEC;
  border: 2px solid #1F5EEC;
  color: #fff;
}
.container-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.container__section{
  background-color: #363636;
}
.section__form {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 5rem 0;
  color: #ffffff71;
  margin-top: 1rem;

}

.section__form h2{
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.section__form input{
  background-color: #242424;
}
.section__form label{
  margin-left: 1rem;
}
.section__form .form{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.section__form .form .error{
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: #ff7474;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.pagination__Swiper {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #ffffff77;
  width: 0.7rem;
  height: 0.7rem;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffffc2;
}